.name-highlight{
    color: orange;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    color:white;
    /* margin: 1%; */
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}
.half-width{
    width: 40%;
    float: left;
    margin: 30px;
}
.half-width img{
    width: 70%;
}
section{
    height: 400px;
    padding-bottom: 100px;
}
body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
p{
    color: dimgray;
}
.project-part{
    box-shadow: 7px 7px 7px 7px whitesmoke;
    border-radius: 8px; 
    background-color: white;
}
.half-width-project{
    width: 30%;
    float: left;
    margin: 1%;
    padding:0.5%;
}
.half-width-project img{
    width: 100%;
}
.inquiry{
    background-image: url(images/inquiry.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    
}
.centered {
    position: absolute;
    top: 44%;
    left: 30%;

  }
.chat-button{
    position: absolute;
    top: 48%;
    left: 62%;
    width: 100%;
}

.footer-icon{
    width: 2%;
    float: left;
    height: 10px;
    bottom: 0;
    padding: 4;
    
    
}
.footer{

    left: 0;
    bottom: 0;
    /* width: 100%; */
    display: block;
    text-align: center;
    /* position: relative; */
    padding: 10%;
    
}
.project-text{
 text-align: center;
}
.footer-align{
   text-align: center;
}
.bonus-part{
    text-align: center;
}
